body {
    .top-buttons {
        text-align: right;

        button {
            padding: 5px 10px;
            background: lightgray;
            border-color: lightgray;
            border-radius: 5px;
        }
    }

    table {
        border: 1px solid black;
        width: 70%;

        thead {
            tr {
                background: lightgray;
                line-height: 2;
            }
        }

        tbody {
            th {
                padding: 5px;
                border-right: 1px solid lightgrey;
                border-bottom: 1px solid lightgrey;
            }
        }
    }
}
